/* Start Variables */
:root {
  --Very-Dark-Blue: hsl(223, 47%, 7%);
  --Dark-Desaturated-Blue: hsl(244, 30%, 16%);
  --Soft-Violet: hsl(277, 64%, 61%);
  --White: hsl(0, 0%, 100%);
  --Slight-Transparent-White: hsl(0, 0%, 100%, 0.75);
  --Slighter-Transparent-White: hsl(0, 0%, 100%, 0.6);
  --Font-Size: 15px;
}
/* End Variables */
/* Start Global Rules */
-webkit-box-sizing: border-box;
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
  transition: 0.5s;
}
body {
  font-family: "Inter", "Lexend Deca", sans-serif;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
}
@media (max-width: 375px) {
}
@media (min-width: 376px) {
}
/* End Global Rules */
/* Start Code */
.background {
}
.background img {
}
.background .small-background {
}
.background .small-background img {
}
.background .small-background .container {
}
.background .small-background .container .left {
}
.background .small-background .container .left .head {
}
.background .small-background .container .left .head h1 {
}
.background .small-background .container .left .head p {
}
.background .small-background .container .left .numbers {
}
.background .small-background .container .left .numbers .one {
}
.background .small-background .container .left .numbers .one h2 {
}
.background .small-background .container .left .numbers .one p {
}
.background .small-background .container .left .numbers .two {
}
.background .small-background .container .left .numbers .two h2 {
}
.background .small-background .container .left .numbers .two p {
}
.background .small-background .container .left .numbers .three {
}
.background .small-background .container .left .numbers .three h2 {
}
.background .small-background .container .left .numbers .three p {
}
.background .small-background .container .right {
}
.background .small-background .container .right img {
}
/* End Code */
